{% extends 'base.html.twig' %}

{% block title %}
  Vos rendez-vous
{% endblock %}

{% block title_h1 %}
  Vos rendez-vous
{% endblock %}

{% block body %}
  <div
    class="container h-96 overflow-x-auto pt-0 px-2 md:px-4  shadow-lg">
    <table
      class="table table-md md:table-md lg:table-lg table-zebra table-pin-rows">
      <thead>
        <tr>
          <th>
            Votre enfant
          </th>
          <th>
            Date / Horaire
          </th>
        </tr>
      </thead>
      <tbody>
        {% for eleve in eleves %}
          <tr>
            <td
              class="text-base">
              {{ eleve.fullName }}
            </td>
            <td>
              {% if eleveSlots[eleve.id] is defined %}
                {% for slot in eleveSlots[eleve.id] %}
                  <div
                    class="flex flex-col gap-1 mb-3">
                    <div
                      class="badge badge-secondary">
                      {{ slot.dateSession.session.label }}
                    </div>
                    <div
                      class="flex flex-col gap-0 md:flex-row md:gap-2">

                      <span
                        class="font-bold">
                        {{ slot.dateSession.date|date('d/m/Y') }}
                      </span>
                      <span>
                        (
                        {{ slot.startTime|date('H:i') }}
                        à
                        {{ slot.endTime|date('H:i')}}
                        )
                      </span>
                    </div>
                  </div>
                {% endfor %}
              {% else %}
                <a
                  href="{{ path('session.index') }}" class="btn btn-primary btn-sm">
                  S'inscrire
                </a>
              {% endif %}
            </td>

          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
