{% extends 'base.html.twig' %}

{% block title %}
  Connexion | Réserva'Classe
{% endblock %}

{% block title_h1 %}
  Connexion à l'administration
{% endblock %}


{% block body %}
  <div
    class="flex-col items-center justify-center py-6 md:p-8">
    <div
      class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100 mx-auto">
      <form
        class="card-body"
        action="{{ path('app_login') }}" method="post">
        {% if error %}
          <div
            class="alert alert-error">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="stroke-current shrink-0 h-6 w-6"
              fill="none"
              viewbox="0 0 24 24">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"/>
            </svg>
            <span>
              {{ error.messageKey|trans(error.messageData, 'security') }}
            </span>
          </div>
        {% endif %}

        {% if app.user %}
          <div
            class="alert alert-info">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewbox="0 0 24 24"
              class="stroke-current shrink-0 w-6 h-6">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
            </svg>
            <span>
              Vous êtes connecté en tant que
              {{ app.user.userIdentifier }}
              ,
              <a
                href="{{ path('app_logout') }}" class="link">
                Se déconnecter
              </a>
            </span>
          </div>
        {% endif %}

        <input
          type="hidden"
          name="_csrf_token"
          value="{{ csrf_token('authenticate') }}">

        <div
          class="form-control">
          <label
            class="label">
            <span
              class="label-text">
              Email
            </span>
          </label>
          <input
            type="email"
            name="_username"
            placeholder="email@example.com"
            class="input validator input-bordered"
            required
            value="{{ last_username }}"/>
          <div
            class="validator-hint hidden">
            Entrer une adresse e-mail valide
          </div>
        </div>

        <div
          class="form-control">
          <label
            class="label">
            <span
              class="label-text">
              Mot de passe
            </span>
          </label>
          <input
            type="password"
            name="_password"
            placeholder="mot de passe"
            class="input validator input-bordered"
            minlength="8"
            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
            title="Doit contenir au moins 8 caractères, dont un chiffre, une lettre minuscule et une lettre majuscule"/>
          <div
            class="validator-hint hidden">
            Le mot de passe doit contenir au moins 8 caractères, dont au moins un chiffre, une lettre minuscule et une lettre
            majuscule.
          </div>
        </div>

        <div
          class="form-control">
          <label
            class="label cursor-pointer">
            <span
              class="label-text text-info">
              Se souvenir de moi
            </span>
            <input
              type="checkbox"
              name="_remember_me"
              class="checkbox checkbox-xs checkbox-info"/>
          </label>
        </div>

        <div
          class="form-control mt-6">
          <button
            class="btn btn-primary">
            Se connecter
          </button>
        </div>

      </form>
    </div>
  </div>


{% endblock %}
