{% extends 'base.html.twig' %}

{% block title %}
  Les évènements à venir | Réserva'Classe
{% endblock %}

{% block title_h1 %}
  Toutes les évènements
{% endblock %}

{% block body %}

  <div
    class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 p-4">
    {% for session in sessions %}
      <div
        class="card bg-base-100 shadow-lg">
        <div
          class="card-body gap-8">
          <div>
            <div
              class="mb-2 md:text-center">
              <h2
                class="badge badge-md md:badge-xl badge-secondary mb-4">
                {{ session.label }}
              </h2>
            </div>
            <div
              class="mb-2">
              <span>
                Enseignant :
              </span>
              <span
                class="badge badge-sm md:badge-md badge-neutral badge-soft font-bold">

                {{ session.user.fullName|default('Enseignant inconnu') }}
              </span>
            </div>
            <div
              class="mb-[3rem]">
              <span>
                Créneaux disponibles :
              </span>
              {% set slots = session.availableSlots %}
              <span
                class="badge {{ slots.available > 0 ? 'badge-success' : 'badge-error' }} badge-sm md:badge-md  font-semibold ">


                {{ slots.available }}
                /
                {{ slots.total }}
              </span>
            </div>
            <div
              class="card-actions justify-end">
              <a
                href="
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    {{ path('session.show', { id: session.id, filter: 'free' }) }}
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  "
                class="btn btn-primary">

                S'inscrire
              </a>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}


  {% endblock %}
