<!DOCTYPE html>
<html
  lang="fr">
  <head>
    <meta
      charset="UTF-8">
    <title>
      {% block title %}
      {% endblock %}
    </title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0">
    <meta
      http-equiv="X-UA-Compatible"
      content="ie=edge">
    <meta
      name="ROBOTS"
      content="NOINDEX, NOFOLLOW">
    <meta
      name="description"
      content="RéservaClasse - Gestion des rendez-vous Parents-Enseignants">
    <meta
      name="application-name"
      content="RéservaClasse"/>
    <meta
      name="author"
      content="AlexCreationWeb">
    <meta
      name="robots"
      content="noindex, nofollow">
    <meta
    name="googlebot"
      content="noindex, nofollow">

    <!-- Favicon -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{{ asset ('favicon/apple-touch-icon.png')}}"/>
    <link
      rel="icon"
      type="image/png"
      href="{{ asset ('favicon/favicon-96x96.png')}}" sizes="96x96"/>
    <link
      rel="icon"
      type="image/svg+xml"
      href="{{ asset ('favicon/favicon.svg')}}" sizes="any"/>
    <link
      rel="manifest"
      href="{{ asset ('favicon/site.webmanifest')}}"/>
    <meta
      name="apple-mobile-web-app-title"
      content="Reserva'Classe"/>
    <link
      rel="shortcut icon"
      href="{{ asset ('favicon/favicon.ico')}}"/>
    <meta
    name="theme-color"
      content="#2c3e50">

    <!-- Social Media -->
    <meta
      property="og:title"
      content="RéservaClasse - Gestion des rendez-vous Parents-Enseignants">
    <meta
      property="og:type"
      content="website">
    <meta
      property="og:image"
      content="{{ asset ('/assets/favicon/android-chrome-512x512.png')}}">
    <meta
      property="og:description"
      content="Réserva'Classe - Gestion des rendez-vous Parents-Enseignants">
    <meta
      property="og:site_name"
      content="Réserva'Classe">
    <meta
      property="og:locale"
      content="fr_FR">

    {% block stylesheets %}
      <link
        rel="stylesheet"
        href="{{ asset('styles/app.css') }}">
    {% endblock %}

    {% block javascripts %}
      {% block importmap %}
        {{ importmap('app') }}
      {% endblock %}
      <script
        type="module">
        // Rendre les fonctions disponibles globalement
        Object
          .assign( window, await import ( '{{ asset('js/custom.js') }}' ) );
      </script>
    {% endblock %}

  </head>
  <body
    class="min-h-screen flex flex-col">

    {% include "_header.html.twig" %}

    <main>
      <div
        class="bg-base-100 mx-auto max-w-7xl p-0 py-8 mb-8">
        <div
          class="text-center my-4 md:my-8">
          {% block session_label %}{% endblock %}

          <h1
            class="text-xl md:text-3xl xl:text-5xl font-bold">
            {% block title_h1 %}{% endblock %}
            </h1>
          </div>

          {# Messages Flash #}
          {% for label, messages in app.flashes %}

            {% for message in messages %}
              <div
                class="container">
                <div
                  role="alert"
                  class="alert alert-{{ label }} shadow-lg mb-4">

                  {% if label == 'error' %}
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="h-6 w-6"
                      fill="none"
                      viewbox="0 0 24 24"
                      stroke="currentColor">
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z"/>
                    </svg>
                  {% else %}
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="h-6 w-6"
                      fill="none"
                      viewbox="0 0 24 24"
                      stroke="currentColor">
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"/>
                    </svg>
                  {% endif %}
                  <span>
                    {{ message }}
                  </span>
                </div>
              </div>
            {% endfor %}
          {% endfor %}

          {% block body %}
          {% endblock %}
        </div>
      </body>
    </body>
  </html>
</div></body></html></main>{% include "_footer.html.twig" %}</body></html>
